@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

/* Swiper */

.swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 1rem;
  background-color: rgb(130, 130, 130);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: rgb(92, 92, 92);
  width: 55px;
}